<h1>Family Login</h1>
<form action="/login" method="POST">
<br>
<div>
    <input type="text" name="username" id="username" placeholder="Family Last Name:">
</div>
<br>
<div>
    <input type="password" name="password" id="password" placeholder="Password:">
</div>
<br>
    <input type="submit" value="Log In" id="submit">
    <br>
    <h6><a href="/signup">Sign Up</a></h6>
</form>
