

<h1>Family Sign-Up</h1>
<form action="/signup" method="POST">
<br>

<div>
    <input type="text" name="username" id="username" placeholder="Family Last Name:">
</div>
<br>
<div>
    <input type="password" name="password" id="password" placeholder="Password:">
</div>
<br>
    <input class="btn-small transparent"type="submit" value="Sign Up">
    <br>
    <h6><a href="/login">Log In</a></h6>
</form>
