<h1>Welcome and thanks for helping out!</h1>
<br>

        <form action='/meals' method="POST">
        Day & Meal: <input type="text" name="day_meal" id="day_meal"><br>
        Food: <input type="text" name="food" id="food">
        <input type="submit" value="Submit" id="submit">
        </form>

<br>

<p><a href="/meals/show">All Meals</a> <a href="/logout">Logout</a></p>
