<div class="w3-padding-large" id="main">
<header class="w3-container w3-padding-32 w3-center w3-grey" id="new">
<h1 class="center">Welcome and thanks for helping out!</h1>
<br>
<p>Please remember to include vegetarian and gluten-free options!</p>
<div>
        <form action='/meals' method="POST">
        Day & Meal: <input type="text" name="day_meal" id="day_meal" placeholder="e.g. Sunday, Breakfast">
</div>
<br>
<div>
        Food: <input  type="text" name="food" id="food">
</div>
<br>
        <input class="btn-small z-depth-3" type="submit" value="Submit" id="submit">
        </form>
<br>
<br>
</div>
