<p><%= @meal.day_meal %> - <%= @meal.food %></p>
<p><a href="/meals/<%= @meal.id %>/edit" id="Edit"></a></p>
<form action="/meals/<%= @meal.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
